@{
    ViewData["Title"] = "Основная страница";
}
    
    <div class="text-center">
        <h3 class="display-4">My Products</h3>
    </div>
    <div class="text-justify">
        <div>
            <p>
            <p class="prgf">
                <b>Учет</b> – это не просто полезная, а необходимая вещь. От учета напрямую зависит прибыль и порядок в
                розничном магазине. Имея на руках объективные данные о продажах, доходах и расходах, можно выстраивать
                грамотную стратегию, закупая самый востребованный товар, снижая издержки и предотвращая недостачу на складе.
            </p>
            <p class="prgf">
                Программа учета товара в розничной торговле <b>My products</b> может быть использована в любом магазине или на торговой
                точке на рынке. Программа не привязана к конкретному виду торговли и пригодна везде, где учет ведется по
                количеству единиц товара.
            </p>
            <p>
                Возможности <b>My Products</b>:
                <ul class="list-group">
                    <li>Учёт товаров в списке всех товаров, с регулировкой даты добавления;</li>
                    <li>Учёт поставщиков товаров и их описание;</li>
                    <li>Учёт прайс листа товаров, с их описанием и ценами (закупочная/рыночная);</li>
                    <li>Учёт проданных товаров в списке реализации, с указанием количества проданных товаров и дополнительных расходов;</li>
                    <li>Подсчёт прибыли на основе списка проданных товаров.</li>
                </ul>
            </p>
        </div>
        <div>
            <p>
                <h2 class="display-4 text-center">Добавления нового товара</h2>
            </p>
            <p>
                <b>Для добавления нового товара необходимо:</b>
                <ul class="list-group">
                    <li>Открыть список товаров;</li>
                    <li>Нажать на кнопку <b>"Добавить новый товар в список"</b>;</li>
                    <li>Ввести название товара и дату добавления;</li>
                    <li>Нажать на кнопку <b>"Добавить товар"</b>.</li>
                </ul>
            </p>
            <p class="text-center">
                <img src="~/Images/1.png" width="70%" height="70%" />
                <img src="~/Images/2.png" width="70%" height="70%" />
                <img src="~/Images/3.png" width="70%" height="70%" />
                <h4 class="text-center">Пример добавления товара в список</h4>
            </p>
        </div>
        <div>
            <p>
                <h2 class="display-4 text-center">Добавления нового поставщика</h2>
            </p>
            <p>
                <b>Для добавления нового поставщика необходимо:</b>
                <ul class="list-group">
                    <li>Открыть список поставщиков;</li>
                    <li>Нажать на кнопку <b>"Добавить нового поставщика в список"</b>;</li>
                    <li>Ввести наименование поставщика и его описание;</li>
                    <li>Нажать на кнопку <b>"Добавить поставщика"</b>.</li>
                </ul>
            </p>
            <p class="text-center">
                <img src="~/Images/4.png" width="70%" height="70%" />
                <img src="~/Images/5.png" width="70%" height="70%" />
                <h4 class="text-center">Пример добавления поставщика в список</h4>
            </p>
        </div>
        <div>
            <p>
                <h2 class="display-4 text-center">Добавления нового товара в прайс лист</h2>
            </p>
            <p>
                <b>Для добавления нового товара в прайс лист необходимо:</b>
                <ul class="list-group">
                    <li>Открыть прайс лист;</li>
                    <li>Нажать на кнопку <b>"Добавить новый товар в прайс лист"</b>;</li>
                    <li>Ввести код товара и поставщика, закупочную и рыночную цены, описание товара;</li>
                    <li>Нажать на кнопку <b>"Добавить товар"</b>.</li>
                </ul>
            </p>
            <p class="text-center">
                <img src="~/Images/6.png" width="70%" height="70%" />
                <img src="~/Images/7.png" width="70%" height="70%" />
                <h4 class="text-center">Пример добавления товара в прайс лист</h4>
            </p>
            <p class="prgf">
                При добавлении товара в прайс лист, столбцы ProductId и ProviderId являются идентификаторами товара и поставщика соответственно.
                Следовательно, необхобходимо вводить только те данные, которые уже присутствуют в ранее упомянутых таблицах:
            </p>
            <p class="text-center">
                <img src="~/Images/8.png" width="70%" height="70%" />
            </p>
        </div>
        <div>
            <p>
                <h2 class="display-4 text-center">Добавления нового товара в таблицу реализации</h2>
            </p>
            <p>
                <b>Для добавления нового товара в таблицу реализации необходимо:</b>
                <ul class="list-group">
                    <li>Открыть таблицу реализации;</li>
                    <li>Нажать на кнопку <b>"Добавить новый товар в таблицу реализации"</b>;</li>
                    <li>Ввести код товара из прайс листа, объём продаж и дополнительные расходы на продажу 1 единицы товара;</li>
                    <li>Нажать на кнопку <b>"Добавить товар"</b>.</li>
                </ul>
            </p>
            <p class="text-center">
                <img src="~/Images/9.png" width="70%" height="70%" />
                <img src="~/Images/10.png" width="70%" height="70%" />
                <h4 class="text-center">Пример добавления товара в таблицу реализации</h4>
            </p>
        </div>
        <div>
            <p>
                <h2 class="display-4 text-center">Расчет прибыли</h2>
            </p>
            <p class="prgf">
                Приложение <b>My Products</b> автоматически считает прибыль на основе таблицы реализации. Для просмотра данных о прибыли необходимо 
                перейти на страницу <b>"Прибыль"</b>. Будет отображена суммарная прибыль всех позиций в таблице реализации, а также новая таблица, 
                которая показывает прибыль каждой позиции.
            </p>
            <p class="text-center">
                <img src="~/Images/11.png" width="70%" height="70%" />
                <h4 class="text-center">Пример расчёта прибыли</h4>
            </p>
        </div>
        <div>
            <p>
                Описание средств, которыми было реализовано данное веб-приложение <a class="btn btn-primary btn-sm" href="../Home/Description">ЗДЕСЬ</a>
            </p>
        </div>
    </div>
        
