@model MyProducts.Models.Providers
@{
    ViewBag.Title = "Удаление поставщика";
}

<div class="w-50">
    <div>
        <p>Вы действительно хотите удалить "<b>@Model.Name</b>"?</p>
    </div>
    <div>
        <form method="post">
            <div class="form-group">
                <input type="submit" class="form-control" value="Удалить" />
            </div>
        </form>
    </div>
</div>