@model MyProducts.Models.Providers
@{
    ViewBag.Title = "Редактирование данных о поставщике";
}
<div class="w-50 form-group">
    <form method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Наименование поставщика</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание поставщика</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="form-control" />
        </div>
    </form>
</div>